<div class="container">
  <div class="row">
    <%= render partial: "projects" %>
  </div>

  <hr>

  <div class="row">
    <%= render partial: "chapters" %>
  </div>

  <hr>

  <div class="row">
    <%= render partial: "scenes" %>
  </div>

  <hr>

  <div class="row">
    <%= render partial: "characters" %>
  </div>

  <hr>

  <div class="row">
    <%= render partial: "locations" %>
  </div>

  <hr>

  <div class="row">
    <%= render partial: "strands" %>
  </div>

</div>
