<p id="notice"><%= notice %></p>

<h1>Strands</h1>

<table>
  <thead>
    <tr>
      <th>Name</th>
      <th>Position</th>
      <th>Description</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @strands.each do |strand| %>
      <tr>
        <td><%= strand.name %></td>
        <td><%= strand.position %></td>
        <td><%= strand.description %></td>
        <td><%= link_to 'Show', strand %></td>
        <td><%= link_to 'Edit', edit_strand_path(strand) %></td>
        <td><%= link_to 'Destroy', strand, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Strand', new_strand_path %>
