<p id="notice"><%= notice %></p>

<h1>Scenes</h1>

<table>
  <thead>
    <tr>
      <th>Title</th>
      <th>Position</th>
      <th>Description</th>
      <th>Chapter</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @scenes.each do |scene| %>
      <tr>
        <td><%= scene.title %></td>
        <td><%= scene.position %></td>
        <td><%= scene.description %></td>
        <td><%= scene.chapter_id %></td>
        <td><%= link_to 'Show', scene %></td>
        <td><%= link_to 'Edit', edit_scene_path(scene) %></td>
        <td><%= link_to 'Destroy', scene, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Scene', new_scene_path %>
