<div class="container">
  <%= render partial: "modals/premise_modal", locals: { project: @project } %>
  <%= render partial: "modals/fabula_modal", locals: { project: @project } %>
  <%= render partial: "modals/setting_modal", locals: { project: @project } %>
  <%= render partial: "modals/new_strand_modal", locals: { strand: @strand, project: @project } %>
  <p id="notice"><%#= notice %></p>

  <div class="row">
    <p>
      <h1>Architecture of "<%= @project.title %>"
        <span class="small pull-right">
          <%= link_to 'Edit', edit_project_path(@project) %> |
          <%= link_to 'Back', projects_path %>
        </span>
      </h1>
    </p>
    <hr>
  </div>

  <div class="row">
    <div class="col-lg-3 col-md-3">
      <div class="panel panel-default">
        <%= link_to "#", class: "modals", data: { :"toggle" => "modal", :"target" => "#premiseModal" } do %>
          <div class="panel-body">
            <p><b>Premise</b></p>
            <p>Describe the entire creative work in one sentence. Conflict and resolution.</p>
          </div>
        <% end %>
      </div>
    </div>

    <div class="col-lg-3 col-md-3">
      <div class="panel panel-default">
        <%= link_to "#", class: "modals", data: { :"toggle" => "modal", :"target" => "#fabulaModal" } do %>
          <div class="panel-body">
            <p><b>Fabula</b></p>
            <p>Narration of the events sorted by their logical and chronological sequence.</p>
          </div>
        <% end %>
      </div>
    </div>

    <div class="col-lg-3 col-md-3">
      <div class="panel panel-default">
        <%= link_to "#", class: "modals", data: { :"toggle" => "modal", :"target" => "#settingModal" } do %>
          <div class="panel-body">
            <p><b>Setting</b></p>
            <p>Description on the time, place and social context where the story is developed.</p>
          </div>
        <% end %>
      </div>
    </div>
  </div>

  <div class="row">
    <h1>Narrative Strands</h1>
    <p class="lead">
      <span>Narrative strands, each one connected to the development of one specific conflict.</span>
      <% if @strands.any? %>
        <%= link_to "#", class: "modals btn btn-primary pull-right",
          data: { :"toggle" => "modal", :"target" => "#newStrandModal" } do %>
          <span>Create the next narrative strand here</span>
        <% end %>
      <% end %>
    </p>
    <hr>
  </div>

  <div class="row">
    <% if @strands.any? %>
      <div class="col-lg-3 col-md-3 sortable">
        <%= render 'projects/strands', strands: @strands %>
      </div>
    <% else %>
      <%#= render partial: "modals/new_strand_modal", locals: { strand: @strand, project: @project } %>
      <div class="well col-lg-8 col-md-8">
        <p>There are no narrative strands for this project.</p>
        <%= link_to "#", class: "modals btn btn-primary",
         data: { :"toggle" => "modal", :"target" => "#newStrandModal" } do %>
          <span>Create the first narrative strand here.</span>
        <% end %>
      </div>
    <% end %>
  </div>

</div>

<script type="text/javascript">
  $(document).ready(function(){
    $("a.modals").click(function() {
      $(".bootstrap-wysihtml5-insert-image-modal").parent().hide();
    });

    set_positions = function(){
      $('.sortable').each(function(i){
        $(this).attr("data-pos",i+1);
      });
    }

    set_positions();
    sortable('.sortable', {
      hoverClass: 'is-hovered'
    });

    // after the order changes
    $('.sortable').sortable().bind('sortupdate', function(e, ui) {
    // sortable('.sortable', 'sortupdate', function(e) {
      updated_order = []
      console.log("set the updated positions");
      set_positions();

      console.log("populate the updated_order array with the new task positions");
      $('.sortable').each(function(i){
        updated_order.push({
          id: $(this).children(".panel.panel-default.is-hovered").data("id"),
          position: i+1
        });
      });

      console.log("send the updated order via ajax");
      $.ajax({
        type: "PUT",
        dataType: "json",
        url: "/strands/sort",
        data: {
          order: updated_order
        }
      });
    });

  });

</script>