<% @chapters.each do |chapter| %>
  <%#= render partial: "modals/chapter_modal", locals: { chapter: chapter, project: @project } %>
  <div class="panel panel-default" data-id="<%= chapter.id %>" data-pos="<%= chapter.position %>">
    <div class="panel-body">
      <%= link_to chapter_path(chapter) do %>
      <%#= link_to "#", class: "modals", data: { :"toggle" => "modal", :"target" => ".chapterModal-#{chapter.id}" } do %>
        <b><%= chapter.title %></b>
        <b>#<%= chapter.position %></b>
        <%= link_to chapter, method: :delete, class: "pull-right", data: { confirm: 'Are you sure?' } do %>
          <i class="fa fa-trash"></i>
        <% end %>
      <% end %>
    </div>
  </div>
<% end %>